# These dependencies match App Engine SDK versions.
WebOb==1.6.1
Jinja2==2.10.1
Mako==1.0.4
Babel==2.3.4
pytz==2016.6.1
# These are test dependencies
pytest==2.9.1
pytest-cov==2.2.1
mock==2.0.0
six==1.10.0
gcp-devrel-py-tools==0.0.8
